<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kenweezy.mytablayouts">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/newlogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config_file"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="android:icon">
        <activity android:name=".SelectBatch"></activity>
        <activity android:name=".eidvl.remotelogin.remoteOptions.ButtonOptions.SampleTransportationStatus" />
        <activity android:name=".eidvl.remotelogin.remoteOptions.ButtonOptions.CheckRejectedSamples" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".eidvl.remotelogin.remoteOptions.ButtonOptions.SampleTransportation" /> <!-- database meta tags -->
        <meta-data
            android:name="DATABASE"
            android:value="messages.db" />
        <meta-data
            android:name="VERSION"
            android:value="16" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.kenweezy.mytablayouts" /> <!-- database meta tags -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".eidvl.eidvlOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRegister"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddClient.Register"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".AddClient.ClientOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddClient.Individualresults"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".AddClient.ClientOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HistoricalResults"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".Options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hts.HtsOptions"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".Options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eidvl.eidvlOptions"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".Options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eidvl.remotelogin.VleidSampleRemoteLogin"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".eidvl.eidvlOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eidvl.remotelogin.remoteOptions.ButtonOptions.ViralLoadSamples"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".eidvl.remotelogin.VleidSampleRemoteLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eidvl.remotelogin.remoteOptions.ButtonOptions.EidSamples"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".eidvl.remotelogin.VleidSampleRemoteLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddClient.ClientOptions"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".Options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Forgotpassword"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".Options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Options"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".Mylogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mylogin"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- start sms retriever details here -->
        <service android:name=".Smsretrieverapi.BackgroundService" />

        <activity android:name=".Smsretrieverapi.TestClass">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".Smsretrieverapi.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver> <!-- end sms retriever details here -->
        <receiver
            android:name=".SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver> <!-- new code -->
        <activity
            android:name=".hts.HtsresultsTab"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".hts.HtsOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hts.Htssampleremote.HtsSampleRemoteLogin"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName=".hts.HtsOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SampleLogin"
            android:label="sample login"
            android:parentActivityName=".Options"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kenweezy.mytablayouts.Options" />
        </activity>
        <activity
            android:name=".printing.BluetoothDemo"
            android:parentActivityName=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".printing.DeviceListActivity"
            android:parentActivityName=".printing.BluetoothDemo">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>